@import url('../../index.less');
.selected() {
   order: 1;
   font-size: 20px;
   margin-right: auto;
}

.App {
   &_head {
      height: 60px;
      background-color: @main-blue;
      padding: 0 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
   }
   &_title {
      font-size: 24px;
      color: #fff;
   }
   &_links {
      display: flex;
      flex: 1 1 auto;
      align-items: center;
      height: 60px;

      & > * {
         margin-left: @base-whitespace * 2;
      }
      a {
         text-decoration: none;
         color: #fff;
         transition: color .25s;
      }
      a:visited {
         color: #fff;
      }
   }
   &_link {
      &-tasks {
         order: 2;
      }
      &-projects {
         order: 3;
      }
      &-profile {
         order: 4;
      }
      &-logout {
         order: 5;
      }
   }
   &__tasks {
      .App_link-tasks {
         .selected();
      }
   }
   &__profile {
      .App_link-profile {
         .selected();
      }
   }
   &__projects {
      .App_link-projects {
         .selected();
      }
   }
   &_body {
      display: flex;
      > * {
         margin: auto;
         max-height: calc(~'100vh - 60px');
      }
   }
}