@import url('../../index.less');

.ProjectsListItem {
   padding: @base-whitespace 2vw;
   margin: @base-whitespace 2vw;
   border: 1px solid #bbb;
   display: flex;
   justify-content: space-between;
   position: relative;
   border-radius: 4px;
   transition: background-color .25s;
   box-shadow: 0 0 3px #bbb;

   &_date, &_date .TimeView {
      display: flex;
      align-items: center;
      width: 10vw;
      .text-shortcut;
   }
   &_author {
      width: 200px;
      height: 40px;
   }
   &_title,
   &_description {
      max-width: 36vw;

      .text-shortcut;
   }
   &:hover {
      cursor: pointer;
      box-shadow: 0 0 6px darken(@light-hover, 50%);
   }
}