@import url('../../index.less');

.ProjectsListItem {
   padding: @base-whitespace 2vw;
   display: flex;
   justify-content: space-between;
   position: relative;
   transition: background-color .25s;
   
   &_main-info {
      margin-right: auto;
   }
   &_date, &_date .TimeView {
      display: flex;
      align-items: center;
      width: 10vw;
      .text-shortcut;
   }
   &_author {
      width: 200px;
      height: 40px;
   }
   &_title,
   &_description {
      max-width: 36vw;
      .text-shortcut;
   }
   &_description {
      color: #bbb;
   }
   &:hover {
      cursor: pointer;
      background-color: lighten(@main-blue, 40%);
   }
}