.ProjectsListItem {
   padding: 8px;
   margin: 8px;
   border: 1px solid #bbb;
   display: flex;
   justify-content: space-between;
   position: relative;
   border-radius: 4px;

   &_author {
      width: 200px;
   }
}