@import url('../../index.less');

.TasksListItem {
   padding: @base-whitespace 2vw;
   margin: @base-whitespace 2vw;
   border: 1px solid #bbb;
   display: flex;
   position: relative;
   border-radius: 4px;
   transition: background-color .25s;
   box-shadow: 0 0 3px @light-hover;
   
   &:hover {
      cursor: pointer;
      box-shadow: 0 0 6px darken(@light-hover, 50%);
   }
   &__done {
      color: @done-color;

      &:hover {
         box-shadow: 0 0 6px @done-color;
      }
      &,
      &:hover {
         .TasksListItem_description {
            color: @done-color;
         }
      }
   }
   &_status {
      position: absolute;
   }
   &_date {
      width: 8vw;
      display: flex;
      align-items: center;
      .text-shortcut;
   }
   &_main-info {
      max-width: calc(~'100% - 11vw');
   }
   &_title {
      font-size: 19px;
      .text-shortcut;
   }
   &_description {
      font-size: 16px;
      color: #bbb;

      .text-shortcut;
   }
   &_status {
      opacity: 0;
      align-self: center;

      &__visible {
         opacity: 1;
      }
   }
   > * + * {
      margin-left: 2vw;
   }
}