.TasksListItem {
   padding: 8px;
   margin: 8px;
   border: 1px solid #bbb;
   display: flex;
   position: relative;
   border-radius: 4px;

   &_status {
      position: absolute;
   }

   &_date {
      width: 10%;
      display: flex;
      align-items: center;
   }

   &_title {
      font-size: 19px;
   }

   &_description {
      font-size: 16px;
      color: #bbb;
   }
   &_status {
      opacity: 0;
      align-self: center;
      &__visible {
         opacity: 1;
      }
   }
   &:hover {
      cursor: pointer;
   }

   > * + * {
      margin-left: 25px;
   }
}