.ProjectView {
   height: 70vh;
   width: 80vw;
   &_head {

   }
   &_label {
      font-size: 18px;
      text-align: center;
   }
   &_time {

   }
   &_body {

   }
   &_description {

   }
   &_tasks {
      width: 70vw;
      .ListView {
         padding-top: 2vh;
      }
   }
   &_team {
      padding-top: 2vh;
      width: 30vw;
      .ListView {
         padding-top: 2vh;
      }
   }
   &_inline-wrapper {
      padding-top: 4vh;
      display: flex;
   }
}