html, body {
   margin: 0;
}

html {
   font-family: Helvetica;
   color: #191717;
}

#app {
   transition: filter .3s;
}

.ReactModal {
   &__Overlay {
      background-color: initial !important;
      display: flex;
   }
   &__Body--open {
      & #app {
         filter: blur(4px);
      }
   }
}

.text-shortcut {
   text-overflow: ellipsis;
   overflow: hidden;
   white-space: nowrap;
}